Repository TRCDevelopers/Clayium, pull requests merged in 2024-10, with the labels that each got.

#225 Namespaced MTE Registry
  src/main/kotlin/com/github/trc/clayium/api/ClayiumApi.kt
  src/main/kotlin/com/github/trc/clayium/api/block/BlockMachine.kt
  src/main/kotlin/com/github/trc/clayium/api/events/ClayiumMteRegistryEvent.kt
  src/main/kotlin/com/github/trc/clayium/api/gui/data/MetaTileEntityGuiData.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/MetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/MetaTileEntityHolder.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/registry/CMteManager.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/registry/CMteRegistry.kt
  src/main/kotlin/com/github/trc/clayium/api/util/CUtils.kt
  src/main/kotlin/com/github/trc/clayium/api/util/registry/CRegistry.kt
  src/main/kotlin/com/github/trc/clayium/client/model/MetaTileEntityModel.kt
  src/main/kotlin/com/github/trc/clayium/client/model/ModelTextures.kt
  src/main/kotlin/com/github/trc/clayium/common/CommonProxy.kt
  src/main/kotlin/com/github/trc/clayium/common/blocks/ClayiumBlocks.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/MetaTileEntities.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/StorageContainerMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/integration/jei/JeiPlugin.kt
Labels: refactoring

#229 fix: ClaySapling was required 10000 laser power to exchange
  src/main/kotlin/com/github/trc/clayium/api/capability/impl/ClayLaserIrradiator.kt
Labels: bug

#233 fix: 粘土分配機を用いた増殖バグ
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/DistributorMetaTileEntity.kt
Labels: bug

#241 fix/inf-loop
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/multiblock/ProxyMetaTileEntityBase.kt
  src/main/kotlin/com/github/trc/clayium/api/util/TileEntityAccess.kt
Labels: bug

#237 Laser Recipe
  src/main/kotlin/com/github/trc/clayium/api/capability/impl/ClayLaserIrradiator.kt
  src/main/kotlin/com/github/trc/clayium/common/loaders/recipe/CRecipeLoader.kt
  src/main/kotlin/com/github/trc/clayium/common/loaders/recipe/LaserRecipeLoader.kt
  src/main/kotlin/com/github/trc/clayium/common/recipe/LaserRecipe.kt
  src/main/kotlin/com/github/trc/clayium/common/recipe/builder/LaserRecipeBuilder.kt
  src/main/kotlin/com/github/trc/clayium/common/recipe/registry/CRecipes.kt
  src/main/kotlin/com/github/trc/clayium/common/recipe/registry/LaserRecipeRegistry.kt
Labels: feature

#242 Fix clay laser interface doesn't require synchro parts
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/ClayInterfaceMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/MetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/multiblock/ProxyMetaTileEntityBase.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/StorageContainerMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/multiblock/RedstoneProxyMetaTileEntity.kt
Labels: bug

#243 Laser Recipe Groovy Script Integration
  src/main/kotlin/com/github/trc/clayium/common/recipe/LaserRecipe.kt
  src/main/kotlin/com/github/trc/clayium/common/recipe/registry/LaserRecipeRegistry.kt
  src/main/kotlin/com/github/trc/clayium/integration/groovy/GroovyScriptModule.kt
  src/main/kotlin/com/github/trc/clayium/integration/groovy/LaserRecipeRegistryGrsAdapter.kt
Labels: feature

#244 Fix clay distributor is ignoring limit
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/DistributorMetaTileEntity.kt
  src/test/kotlin/com/github/trc/clayium/Bootstrap.kt
  src/test/kotlin/com/github/trc/clayium/metatileentity/TestClayDistributor.kt
  src/test/kotlin/com/github/trc/clayium/util/ItemStackMatcher.kt
Labels: bug

#248 Add workflows for label management and tests
  .github/actions/build_setup/action.yaml
  .github/labeler.yml
  .github/workflows/actions-labeler.yaml
  .github/workflows/pr_required_labels.yaml
  .github/workflows/publish-mod.yaml
  .github/workflows/run_test.yaml
  .github/workflows/update_gradle_cache.yaml
Labels: ignore changelog

#249 Issue / PR Template
  .github/ISSUE_TEMPLATE/000-crash-report.yaml
  .github/ISSUE_TEMPLATE/001-bug-report.yaml
  .github/ISSUE_TEMPLATE/002-feature-request.yaml
  .github/pull_request_template.md
Labels: ignore changelog

#250 fix: compressed block render layer
  src/main/kotlin/com/github/trc/clayium/api/extensions/ccl/CclExtensions.kt
  src/main/kotlin/com/github/trc/clayium/api/unification/material/CMaterial.kt
  src/main/kotlin/com/github/trc/clayium/client/ClientProxy.kt
  src/main/kotlin/com/github/trc/clayium/client/gui/TextureExtra.kt
  src/main/kotlin/com/github/trc/clayium/client/model/MetalBlockModel.kt
  src/main/kotlin/com/github/trc/clayium/client/model/MetalBlockModelLoader.kt
  src/main/kotlin/com/github/trc/clayium/common/CommonProxy.kt
  src/main/kotlin/com/github/trc/clayium/common/blocks/ClayiumBlocks.kt
  src/main/kotlin/com/github/trc/clayium/common/blocks/material/BlockCompressed.kt
  src/main/resources/assets/clayium/blockstates/material/compressed_material.json
Labels: bug

#251 0.4.0
  gradle.properties
Labels: ignore changelog

#252 fix: feature request template
  .github/ISSUE_TEMPLATE/002-feature-request.yaml
Labels: ignore changelog

#256 fix: dedicated server crash
  src/main/kotlin/com/github/trc/clayium/client/ClientProxy.kt
  src/main/kotlin/com/github/trc/clayium/common/CommonProxy.kt
  src/main/kotlin/com/github/trc/clayium/common/blocks/ClayiumBlocks.kt
Labels: bug

#258 Update Documentations
  MOD-DESCRIPTION.md
  README.md
Labels: ignore changelog

#257 runserver action
  .github/actions/build_setup/action.yaml
  .github/actions/test_no_error_reports.sh
  .github/workflows/publish-mod.yaml
  .github/workflows/run_server.yaml
  .github/workflows/run_tests.yaml
  README.md
  src/main/kotlin/com/github/trc/clayium/common/CommonProxy.kt
Labels: ignore changelog

#260 ci: fix branches: master to branches: main
  .github/release.yml
  .github/workflows/pr_required_labels.yaml
  .github/workflows/update_gradle_cache.yaml
Labels: type: ci

#261 Add Auto Trader
  src/main/java/com/github/trc/clayium/common/config/ConfigCore.java
  src/main/kotlin/com/github/trc/clayium/api/capability/AbstractWorkable.kt
  src/main/kotlin/com/github/trc/clayium/api/util/CUtils.kt
  src/main/kotlin/com/github/trc/clayium/common/gui/sync/MerchantRecipeListSyncValue.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/AutoTraderMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/MetaTileEntities.kt
  src/main/kotlin/com/github/trc/clayium/common/recipe/Recipe.kt
  src/main/kotlin/com/github/trc/clayium/common/recipe/ingredient/CItemRecipeInput.kt
  src/main/resources/assets/clayium/blockstates/machines/auto_trader.json
  src/main/resources/assets/clayium/lang/en_us.lang
  src/main/resources/assets/clayium/lang/ja_jp.lang
  src/main/resources/assets/clayium/models/block/auto_trader.json
  src/main/resources/assets/clayium/textures/blocks/auto_trader_side.png
  src/main/resources/assets/clayium/textures/blocks/auto_trader_top.png
Labels: feature
