Repository TRCDevelopers/Clayium, pull requests merged in 2025-05, with the labels that each got.

#299 Issue Templateの日本語化
  .github/ISSUE_TEMPLATE/000-crash-report.yaml
  .github/ISSUE_TEMPLATE/001-bug-report.yaml
  .github/ISSUE_TEMPLATE/002-feature-request.yaml
Labels: ignore changelog

#300 ignorec: issue templateの修正
  .github/ISSUE_TEMPLATE/000-crash-report.yaml
  .github/ISSUE_TEMPLATE/001-bug-report.yaml
  .github/ISSUE_TEMPLATE/002-feature-request.yaml
Labels: bug, ignore changelog

#301 Fix recipe prioritization
  src/main/kotlin/com/github/trc/clayium/api/capability/impl/AbstractRecipeLogic.kt
  src/main/kotlin/com/github/trc/clayium/api/capability/impl/RecipeLogicClayFurnace.kt
  src/main/kotlin/com/github/trc/clayium/common/recipe/Recipe.kt
  src/main/kotlin/com/github/trc/clayium/common/recipe/builder/RecipeBuilder.kt
  src/main/kotlin/com/github/trc/clayium/common/recipe/builder/WeightedRecipeBuilder.kt
  src/main/kotlin/com/github/trc/clayium/common/recipe/ingredient/CRecipeInput.kt
  src/main/kotlin/com/github/trc/clayium/common/recipe/registry/RecipeRegistry.kt
Labels: bug

#303 Wiki gh-pages
  .github/workflows/deploy_wiki.yaml
  .github/workflows/run_server.yaml
  .github/workflows/run_tests.yaml
  .gitignore
  wiki/WIKI-LICENSE
  wiki/docs/.vitepress/config.mts
  wiki/docs/.vitepress/config/en.ts
  wiki/docs/.vitepress/config/ja.ts
  wiki/docs/.vitepress/config/shared.ts
  wiki/docs/en/features/clay-laser.md
  wiki/docs/en/groovy-script/recipe.md
  wiki/docs/en/index.md
  wiki/docs/en/introduction/changes-from-original.md
  wiki/docs/features/clay-laser.md
  wiki/docs/groovy-script/recipe.md
  wiki/docs/index.md
  wiki/docs/introduction/changes-from-original.md
  wiki/package.json
  wiki/pnpm-lock.yaml
Labels: ignore changelog

#304 Fix wiki deploy CI
  .github/workflows/deploy_wiki.yaml
  .github/workflows/pr_required_labels.yaml
  wiki/docs/en/index.md
  wiki/docs/index.md
Labels: ignore changelog, type: ci

#305 fix: set base path
  wiki/docs/.vitepress/config/shared.ts
Labels: ignore changelog
