Repository TRCDevelopers/Clayium, pull requests merged in 2025-03, with the labels that each got.

#274 Update ModularUI
  dependencies.gradle
  src/main/java/com/github/trc/clayium/common/util/DebugUtils.java
  src/main/java/com/github/trc/clayium/mixins/modularui/FixDupeWithPhantomSlotMixin.java
  src/main/kotlin/com/github/trc/clayium/api/capability/AbstractWorkable.kt
  src/main/kotlin/com/github/trc/clayium/api/capability/impl/ClayEnergyHolder.kt
  src/main/kotlin/com/github/trc/clayium/api/capability/impl/LaserEnergyHolder.kt
  src/main/kotlin/com/github/trc/clayium/api/capability/impl/ResonanceManager.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/AbstractItemGeneratorMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/AbstractMinerMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/ClayBufferMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/ClayInterfaceMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/ClayLaserMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/MetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/MultiTrackBufferMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/WorkableMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/multiblock/ClayBlastFurnaceMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/multiblock/ClayReactorMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/multiblock/LaserProxyMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/multiblock/MultiblockLogic.kt
  src/main/kotlin/com/github/trc/clayium/common/blocks/BlockSimpleTileEntityHolder.kt
  src/main/kotlin/com/github/trc/clayium/common/blocks/TileEntityCreativeEnergySource.kt
  src/main/kotlin/com/github/trc/clayium/common/blocks/claycraftingtable/BlockClayCraftingBoard.kt
  src/main/kotlin/com/github/trc/clayium/common/blocks/claycraftingtable/TileClayCraftingTable.kt
  src/main/kotlin/com/github/trc/clayium/common/gui/ResizingTextWidget.kt
  src/main/kotlin/com/github/trc/clayium/common/items/filter/ItemSimpleItemFilter.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/AdvancedRangedMinerMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/AutoClayCondenserMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/AutoTraderMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/CentrifugeMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/ChemicalMetalSeparatorMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/ClayFabricatorMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/DistributorMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/EnergyConverterMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/PanAdapterMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/PanCoreMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/PanDuplicatorMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/RangedMinerMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/ResonatingCollectorMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/SolarClayFabricatorMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/StorageContainerMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/VoidContainerMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/WaterwheelMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/multiblock/CaReactorMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/multiblock/RedstoneProxyMetaTileEntity.kt
  src/main/resources/mixins.clayium.json
Labels: feature

#275 Fix Recipe Conflicts
  src/main/kotlin/com/github/trc/clayium/api/unification/ore/OrePrefix.kt
  src/main/kotlin/com/github/trc/clayium/common/loaders/recipe/CraftingRecipeLoader.kt
  src/main/kotlin/com/github/trc/clayium/common/loaders/recipe/MachineBlockRecipeLoader.kt
  src/main/kotlin/com/github/trc/clayium/common/loaders/recipe/MatterTransformerRecipeLoader.kt
Labels: bug

#277 Update README.md
  README.md
Labels: ignore changelog

#279 Fix salt extracter uses higher CE
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/SaltExtractorMetaTileEntity.kt
Labels: bug

#284 fix: Phantom Slot dropping Dupe
  src/main/java/com/github/trc/clayium/mixins/modularui/PhantomSlotMixin.java
  src/main/resources/mixins.clayium.json
Labels: bug

#286 Fix OreDictionary Input
  src/main/kotlin/com/github/trc/clayium/common/recipe/ingredient/CItemRecipeInput.kt
Labels: bug

#287 Fix: Crash with Quark
  src/main/kotlin/com/github/trc/clayium/common/blocks/clayworktable/TileClayWorkTable.kt
Labels: bug

#289 CI: Auto Labeling
  .github/labeler.yaml
  .github/workflows/pr_required_labels.yaml
Labels: ignore changelog

#288 Fix PAN Bugs
  src/main/kotlin/com/github/trc/clayium/api/capability/ClayiumTileCapabilities.kt
  src/main/kotlin/com/github/trc/clayium/api/capability/SimpleCapabilityManager.kt
  src/main/kotlin/com/github/trc/clayium/api/capability/impl/ClayLaserSourceMteTrait.kt
  src/main/kotlin/com/github/trc/clayium/api/metatileentity/multiblock/MultiblockLogic.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/PanAdapterMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/metatileentities/PanCoreMetaTileEntity.kt
  src/main/kotlin/com/github/trc/clayium/common/pan/factories/CPanRecipeFactory.kt
Labels: bug

#291 Fix Laser Interface item name in Japanese
  src/main/resources/assets/clayium/lang/ja_jp.lang
Labels: bug

#293 Fix Grinder/MillingMachine Recipe Collision
  src/main/kotlin/com/github/trc/clayium/common/loaders/recipe/MachineBlockRecipeLoader.kt
Labels: bug

#294 Fix Smelter Item name in English
  src/main/resources/assets/clayium/lang/en_us.lang
Labels: bug
